<div class="text-center">
    <div class="{{ position_class }}">
        <a href="{{ path('history_index', {'user_id' : score.userId.id, 'tournament_id' : score.tournamentId.id}) }}">
            <div class="profile-img">
                <img src="{{ asset('img/devlabs_logo.png') }}" alt="" />
            </div>
        </a>
        <div class="points">{{ score.points }}pt<br/>
            {{ score.exactPredictionPercentage }} %
        </div>
    </div>
    <div class="name">
        <span class="position-{{ pos_change }}"></span>{{ score.posNew }}. {{ score.userId.username }}
    </div>
</div>