{% extends 'DevlabsSportifyBundle:Standings:layout.html.twig' %}

{% block content %}

    <div class="container-fluid content">
        <div class="matches-filters row">
            <div class="col-lg-10 col-lg-offset-1">
                {{ form_start(filter_form) }}
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-3">
                            <label>Filter by Tournament</label>
                            {{ form_row(filter_form.tournament_id, {'attr': {'class': 'form-control' } }) }}
                        </div>
                        <div class="col-sm-2 text-center">
                            {{ form_row(filter_form.button, {'attr': {'class': 'btn green-btn history-filter' } }) }}
                        </div>
                    </div>
                {{ form_end(filter_form) }}
            </div>
        </div>


        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-12">

                <div class="first-three-standings">
                    <div class="row standings-slider owl-carousel">
                    {% set position = 0 %}
                    {% for score in standings %}
                        {% set position = position + 1 %}

                        {% if position <= 3 %}
                            {% if position == 1 %}
                                <div class="text-center">
                                    <div class="first-place">
                                        <a href="{{ path('history_index', {'user_id' : score.userId.id, 'tournament' : score.tournamentId.id}) }}">
                                            <div class="profile-img">
                                                <img src="{{ asset('img/devlabs_logo.png') }}" alt="" />
                                            </div>
                                        </a>
                                        <div class="points">{{ score.points }}pt<br/>
                                                            {{ score.points }} %
                                        </div>
                                    </div>
                                    <div class="name">
                                <span class="position-same"></span>{{ position }}. {{ score.userId.username }}</div>
                                </div>
                            {% endif %}
                            {% if position == 2 %}
                                <div class="text-center">
                                    <div class="second-place">
                                        <a href="{{ path('history_index', {'user_id' : score.userId.id, 'tournament' : score.tournamentId.id}) }}">
                                            <div class="profile-img">
                                                <img src="{{ asset('img/devlabs_logo.png') }}" alt="" />
                                            </div>
                                        </a>
                                        <div class="points">{{ score.points }}pt<br/>
                                                            {{ score.points }} %
                                        </div>
                                    </div>
                                    <div class="name">
                                <span class="position-same"></span>{{ position }}. {{ score.userId.username }}</div>
                                </div>
                            {% endif %}
                            {% if position == 3 %}
                                <div class="text-center">
                                    <div class="third-place">
                                        <a href="{{ path('history_index', {'user_id' : score.userId.id, 'tournament' : score.tournamentId.id}) }}">
                                            <div class="profile-img">
                                                <img src="{{ asset('img/devlabs_logo.png') }}" alt="" />
                                            </div>
                                        </a>
                                        <div class="points">{{ score.points }}pt<br/>
                                                            {{ score.points }} %
                                        </div>
                                    </div>
                                    <div class="name">
                                <span class="position-same"></span>{{ position }}. {{ score.userId.username }}</div>
                                </div>
                    </div>
                </div>
                            {% endif %}
                        {% endif %}

                        {% if position > 3 %}
                        <div class="standing">
                            <div class="row">
                                <div class="col-xs-2 col-md-1">
                                <span class="position-same"></span>
                                    {{ position }}.
                                </div>
                                <div class="col-xs-10 col-md-5 col-xs-6">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <div class="profile-img">
                                                <img src="{{ asset('img/devlabs_logo.png') }}" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-xs-8">{{ score.userId.username }}</div>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-2 text-center" data-toggle="tooltip" data-placement="top" title="Total score">{{ score.points }}pt </div>
                                <div class="col-xs-3 col-sm-3 col-md-2 text-center" data-toggle="tooltip" data-placement="top" title="Exact predictions percentage">{{ score.points }}% </div>
                                <div class="col-xs-6 col-sm-6 col-md-2 text-center">
                                    <a class="btn history-btn" href="{{ path('history_index', {'user_id' : score.userId.id, 'tournament' : score.tournamentId.id}) }}">History</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}