<div class="tournament">
    <div class="row center">
        <div class="col-lg-1 col-md-1 team-logo-holder">
            <div class="col-lg-12 mobile-heading">TournamentLogo</div>
            <div class="team-image">
                <img src="{{ asset(tournament.logo) }}" width="30" height="30" alt="{{ tournament.name }}" />
            </div>
        </div>
        {{ form_start(form, { 'attr' : { 'class' : 'inline-block-form' } } ) }}
            {{ form_errors(form) }}
            {{ form_row(form.id) }}
            {{ form_row(form.action) }}
            <div class="col-lg-2 col-md-2 tournament-item">
                <div class="row">
                    <div class="col-lg-12 mobile-heading">Name</div>
                    <div class="col-lg-12">{{ form_row(form.name, {'attr': {'class': 'form-control' } }) }}</div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-6 tournament-item">
                <div class="row">
                    <div class="col-lg-12 mobile-heading">Starts</div>
                    <div class="col-lg-12">{{ form_row(form.startDate, {'attr': {'class': 'form-control', 'placeholder': 'YYYY-MM-DD'} }) }}</div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-6 tournament-item">
                <div class="row">
                    <div class="col-lg-12 mobile-heading">Ends</div>
                    <div class="col-lg-12">{{ form_row(form.endDate, {'attr': {'class': 'form-control', 'placeholder': 'YYYY-MM-DD'} }) }}</div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 tournament-item">
                <div class="row">
                    <div class="col-lg-12 mobile-heading">Upload logo</div>
                    <div class="col-lg-12">{{ form_row(form.uploadFile, {'attr': {'class': 'form-control' } }) }}</div>
                </div>
            </div>
            {#<div class="col-lg-2 col-md-2 tournament-item">#}
                {#<div class="row">#}
                    {#<div class="col-lg-12 mobile-heading">Champion Team</div>#}
                    {#<div class="col-lg-12">{{ form_row(form.championTeamId, {'attr': {'class': 'team-select-chosen' } }) }}</div>#}
                {#</div>#}
            {#</div>#}
            <div class="col-lg-4 col-md-4 tournament-item end-row-buttons-holder">
                {% if (form.action.vars.value == 'CREATE') %}
                    {{ form_row(form.button1, {'attr': {'class': 'btn green-btn tournament-btn' } }) }}
                {% else %}
                    {{ form_row(form.button1, {'attr': {'class': 'btn yellow-btn tournament-btn' } }) }}
                    {{ form_row(form.button2, {'attr': {'class': 'btn yellow-btn tournament-btn' } }) }}
                {% endif %}
            </div>
        {{ form_end(form) }}
    </div>
</div>