<div class="match">
    <div class="row">
        {{ form_start(form) }}
            {{ form_row(form.id) }}
            {{ form_row(form.matchId) }}
            {{ form_row(form.userId) }}
            {{ form_row(form.action) }}
            {{ form_errors(form) }}
            <div class="match-date text-center">{{ match.datetime|date('Y-m-d H:i') }}</div>
            <div class="match-title text-center">{{ match.tournamentId.name }}</div>
            <div class="col-lg-12">
                <div class="match-item">
                    <div class="row">
                        <div class="col-sm-4 match-item-mobile">
                            <img src="{{ match.homeTeamId.teamLogo }}" width="30" height="30" alt="{{ match.homeTeamId.name }}" />
                            {{ match.homeTeamId.name }}
                        </div>
                        <div class="col-sm-4 bettings">
                            <div class="bet-rectangle">
                                {% include 'img/result-rectangle.svg' %}
                            </div>
                            {% if predictions[match.id] is defined %}
                                <div class="bet-form">
                                    {{ form_row(form.homeGoals, {'attr': {'class': 'bet-field' }, 'disabled': match.disabledAttribute }) }}
                                    <span>:</span>
                                    {{ form_row(form.awayGoals, {'attr': {'class': 'bet-field' }, 'disabled': match.disabledAttribute }) }}
                                </div>
                            {% else %}
                                <div class="bet-form not-filled">
                                    {{ form_row(form.homeGoals, {'attr': {'class': 'bet-field', 'placeholder': '?' }, 'disabled': match.disabledAttribute}) }}
                                    <span>:</span>
                                    {{ form_row(form.awayGoals, {'attr': {'class': 'bet-field', 'placeholder': '?' }, 'disabled': match.disabledAttribute }) }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-sm-4 match-item-mobile">
                            {{ match.awayTeamId.name }}
                            <span class="pull-right flag flag-icon flag-icon-{{ match.awayTeamId.nameShort|lower }}"></span>
                        </div>
                    </div>
                </div>

                {% if match.disabledAttribute == true %}
                    <div class="row">
                        <div class="match-date text-center">Match locked. Already started</div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-sm-12 text-center">
                        {% if predictions[match.id] is defined %}
                            {{ form_row(form.button, {'attr': {'class': 'btn yellow-btn match-btn' }, 'disabled': match.disabledAttribute }) }}
                        {% else %}
                            {{ form_row(form.button, {'attr': {'class': 'btn green-btn match-btn' }, 'disabled': match.disabledAttribute }) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>