<div class="row">
    <div class="col-lg-1 col-md-1 tournament-item">
        <div class="row">
            <div class="col-lg-12 mobile-heading">Name</div>
            <div class="col-lg-12">
                <div class="team-image">
                    <img src="{{ asset(team.teamLogo) }}" width="30" height="30" alt="{{ team.name }}" />
                </div>
            </div>
        </div>
    </div>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.id) }}
        {{ form_row(form.action) }}
        <div class="col-lg-2 col-md-2 tournament-item">
            <div class="row">
                <div class="col-lg-12 mobile-heading">Name</div>
                <div class="col-lg-12">{{ form_row(form.name, {'attr': {'class': 'form-control' } }) }}</div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 tournament-item">
            <div class="row">
                <div class="col-lg-12 mobile-heading">Upload logo</div>
                <div class="col-lg-12">{{ form_row(form.uploadFile, {'attr': {'class': 'form-control' } }) }}</div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 tournament-item">
            <div class="row">
                <div class="col-lg-12">
                {% if (form.action.vars.value == 'CREATE') %}
                    {{ form_row(form.button1, {'attr': {'class': 'btn green-btn tournament-btn' } }) }}
                {% else %}
                    {{ form_row(form.button1, {'attr': {'class': 'btn yellow-btn tournament-btn' } }) }}
                {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 tournament-item">
            <div class="row">
                <div class="col-lg-12">
                {% if (form.action.vars.value == 'EDIT') %}
                    {{ form_row(form.button2, {'attr': {'class': 'btn yellow-btn tournament-btn' } }) }}
                {% endif %}
                </div>
            </div>
        </div>
    {{ form_end(form) }}
</div>