{% extends 'DevlabsSportifyBundle::base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

        <div class="container content login-screen">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <h2>Log in to place your bets</h2>
                    <form class="login-form" action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <div class="form-group">
                            <input type="text" id="username" name="_username" class="form-control" placeholder="Email address">
                        </div>
                        <div class="form-group">
                            <input type="password" id="password" name="_password" class="form-control" placeholder="Password">
                        </div>
                        <p class="forgotten-password"><a href="{{ path('fos_user_resetting_request') }}">Forgotten password?</a></p>
                        <button type="submit" id="_submit" name="_submit" class="btn btn-default green-btn">Login</button>
                    </form>
                    <h2>Don't have an account?<br/>
                        <a href="{{ path('fos_user_registration_register') }}">Sign up here</a>
                    </h2>
                </div>
            </div>
        </div>

        {#<form action="{{ path("fos_user_security_check") }}" method="post">#}
            {#<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />#}

            {#<label for="username">{{ 'security.login.username'|trans }}</label>#}
            {#<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />#}

            {#<label for="password">{{ 'security.login.password'|trans }}</label>#}
            {#<input type="password" id="password" name="_password" required="required" />#}

            {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
            {#<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}

            {#<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />#}
        {#</form>#}
{% endblock %}
