{% trans_default_domain 'FOSUserBundle' %}

<div class="container content signup-screen">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <h2>Sign up</h2>
            <div class="error-msg">
                {{ form_errors(form) }}
            </div>
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'signup-form'}}) }}
                <div class="form-group">
                    {{ form_row(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}, 'label': false}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Username'}, 'label': false}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.slackUsername, {'attr': {'class': 'form-control', 'placeholder': 'Slack username'}, 'label': false}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Password'}, 'label': false}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirm Password'}, 'label': false}) }}
                </div>
                {{ form_row(form._token) }}
                <button type="submit" class="btn btn-default green-btn">Confirm</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>