<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Spotify - symfony{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <a href="{{ path('home') }}">Home</a>
        <a href="{{ path('tournaments_index') }}">Tournaments</a>
        <a href="{{ path('matches_index') }}">Matches</a>
        <a href="{{ path('history_index') }}">History</a>
        <a href="/logout">Logout</a>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
