{% extends 'DevlabsSportifyBundle:Tournaments:layout.html.twig' %}

{% block content %}

    {% if app.user %}
        Current user:
        <p>{{ app.user.id }} - {{ app.user.username }} - {{app.user.email }}</p>
    {% endif %}

    Tournaments:
    {% for tournament in tournaments %}
        <p>
            <div>
            {{ form_start(forms[tournament.id]) }}
                {{ tournament.id }} - {{ tournament.name }}
                {{ form_widget(forms[tournament.id]) }}
            {{ form_end(forms[tournament.id]) }}
            </div>
        </p>

    {% endfor %}

{% endblock %}