{% extends 'DevlabsSportifyBundle:History:layout.html.twig' %}

{% block content %}

    <div class="container-fluid content">
        <div class="matches-filters row">
            <div class="col-lg-10 col-lg-offset-1">
                    {{ form_start(filter_form) }}
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Tournament</label>
                            {{ form_row(filter_form.tournament_id, {'attr': {'class': 'form-control' } }) }}
                        </div>
                        <div class="col-sm-3">
                            <label>Username</label>
                            {{ form_row(filter_form.user, {'attr': {'class': 'form-control' } }) }}
                        </div>
                        <div class="col-sm-2">
                            <label>Date From</label>
                            {{ form_row(filter_form.date_from, {'attr': {'class': 'form-control' } }) }}
                        </div>
                        <div class="col-sm-2">
                            <label>Date To</label>
                            {{ form_row(filter_form.date_to, {'attr': {'class': 'form-control' } }) }}
                        </div>
                        <div class="col-sm-2 text-center">
                            {{ form_row(filter_form.button, {'attr': {'class': 'btn green-btn history-filter' } }) }}
                        </div>
                    </div>
                    {{ form_end(filter_form) }}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1 col-sm-12">
                {% for match in matches %}
                    <div class="match">
                        <div class="row">
                            <div class="match-date text-center">{{ match.datetime|date('Y-m-d H:i') }}</div>
                            <div class="match-title text-center">{{ match.tournamentId.name }}</div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-xs-6 text-left">
                                        <div class="team-title">Home team</div>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <div class="team-title">Away team</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="match-item">
                                    <div class="row">
                                        <div class="col-sm-4 match-item-mobile"><span class="pull-left flag flag-icon flag-icon-gr"></span>{{ match.homeTeam }}</div>
                                        <div class="col-sm-4 bettings">
                                            <div class="bet-rectangle">
                                                {% include 'img/result-rectangle.svg' %}
                                            </div>
                                            <div class="bet-results">
                                                <div class="bet-field">{{ match.homeGoals }}</div>
                                                <span>:</span>
                                                <div class="bet-field">{{ match.awayGoals }}</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 match-item-mobile">{{ match.awayTeam }} <span class="pull-right flag flag-icon flag-icon-gr"></span></div>
                                    </div>
                                </div>
                            </div>
                            {% if predictions[match.id] is defined %}
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-xs-6 text-left">
                                            <div class="prediction-title">
                                                Prediction: <span class="predictions">{{ predictions[match.id].homeGoals }}:{{ predictions[match.id].awayGoals }}</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <div class="points-title">Points gained: <span class="points-gained">{{ predictions[match.id].points }} pt</span></div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-xs-6 text-left">
                                            <div class="prediction-title">
                                                Prediction: <span class="predictions">N/A</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <div class="points-title">Points gained: <span class="points-gained">0 pt</span></div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {% if matches|length == 0 %}
                    <div class="text-center">
                        No matches to display.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}