{% extends 'DevlabsSportifyBundle:History:layout.html.twig' %}

{% block content %}

    {% if app.user %}
        Current user:
        <p>{{ app.user.id }} - {{ app.user.username }} - {{app.user.email }}</p>
    {% endif %}

    Filter bar:

    {{ form_start(filter_form) }}
    Tournament:
    {{ form_row(filter_form.tournament_id) }}
    Date From:
    {{ form_row(filter_form.date_from) }}
    Date To:
    {{ form_row(filter_form.date_to) }}
    {{ form_end(filter_form) }}

    Results:

        <p>
            <div>
                <table>
                    <thead></thead>
                    <tbody>
                        <thead>
                            <tr>
                                <th>Home Team - Away Team</th>
                                <th>Start</th>
                                <th>Prediction</th>
                                <th>Result</th>
                                <th>Points gained</th>
                            </tr>
                        </thead>
                        {% for match in matches %}
                            <tr>
                                <td>{{ match.homeTeam }} - {{ match.awayTeam }}</td>
                                <td>-StartTime-</td>
                                {% if predictions[match.id] is defined %}
                                    <td>{{ predictions[match.id].homeGoals }} : {{ predictions[match.id].awayGoals }}</td>
                                    <td>{{ match.homeGoals }} : {{ match.awayGoals }}</td>
                                    <td>{{ predictions[match.id].points }}</td>
                                {% else %}
                                    <td>N/A</td>
                                    <td>{{ match.homeGoals }} : {{ match.awayGoals }}</td>
                                    <td>0</td>
                                {%  endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </p>

{% endblock %}