{% extends 'DevlabsSportifyBundle:Matches:layout.html.twig' %}

{% block content %}

    {% if app.user %}
        Current user:
        <p>{{ app.user.id }} - {{ app.user.username }} - {{app.user.email }}</p>
    {% endif %}

    Matches:

        <p>
            <div>
                <table>
                    <thead></thead>
                    <tbody>
                        {% for match in matches %}
                            <tr>
                            {#{{ form_start(forms[match.id]) }}#}
                            <td>
                                {{ form_start(forms[match.id]) }}
                                    {{ form_row(forms[match.id].match_id) }}
                                    {{ form_errors(forms[match.id]) }}

                                    {{ match.id }} - {{ match.homeTeam }} - {{ match.awayTeam }}

                                    {{ form_row(forms[match.id].home_goals) }}
                                    {{ form_row(forms[match.id].away_goals) }}
                                    {{ form_row(forms[match.id].action) }}
                                    {{ form_row(forms[match.id].button) }}
                                {{ form_end(forms[match.id]) }}


                                {#{{ match.id }} - {{ match.homeTeam }} - {{ match.awayTeam }}#}
                                    {#{% if predictions[match.id] is defined %}#}
                                        {#{% set prediction = predictions[match.id] %}#}
                                        {#--- {{ prediction.homeGoals }} - {{ prediction.awayGoals }}#}
                                    {#{% endif %}#}
                            </td>
                            {#<td>#}
                                {#{{ form_widget(forms[match.id]) }}#}
                            {#</td>#}
                            {#{{ form_end(forms[match.id]) }}#}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </p>



{% endblock %}