{% extends 'DevlabsSportifyBundle:Matches:layout.html.twig' %}

{% block content %}

    {% if app.user %}
        Current user:
        <p>{{ app.user.id }} - {{ app.user.username }} - {{app.user.email }}</p>
    {% endif %}

    Matches:

        <p>
            <div>
                <table>
                    <thead></thead>
                    <tbody>
                        {% for match in matches %}
                            <tr>
                            {{ form_start(forms[match.id]) }}
                            <td>
                                {{ match.id }} - {{ match.homeTeam }} - {{ match.awayTeam }}
                            </td>
                            <td>
                                {{ form_widget(forms[match.id]) }}
                            </td>
                            {{ form_end(forms[match.id]) }}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </p>



{% endblock %}