<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>{% block title %}Sportify{% endblock %}</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Exo+2:400,300,500,600,700,800,900&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        {% endblock %}
        <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/img/favicon/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/img/favicon/manifest.json">
        <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/img/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="/img/favicon/mstile-144x144.png">
        <meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>

        <div id="wrapper" class="wrapper toggled">
            <!-- Sidebar -->
                <nav class="navbar navbar-inverse navbar-fixed-top sidebar-wrapper" id="sidebar-wrapper" role="navigation">
                    <ul class="nav sidebar-nav">
                        <li class="sidebar-brand">
                            <button class="hamburger is-open pull-left" data-toggle="offcanvas" >{% include 'img/menu.svg' %}</button>
                            <a href="/" class="sportify-logo">
                                <img src="{{ asset('img/sportify-logo.png') }}" width="150" height="72">
                            </a>
                        </li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li class="my-profile {% if app.request.attributes.get('_route') == 'user_profile'%} active{% endif %}">
                                <a class="profile-picture" href="{{ path('user_profile') }}">
                                    <img src="{{ asset('img/devlabs_logo.png') }}" alt="" />
                                </a>
                                <p class="user-name">{{ app.user.username }}</p>
                            </li>
                            <li {% if app.request.attributes.get('_route') == 'admin_index'%}class="active"{% endif %}>
                                <a href="{{ path('admin_index') }}">ADMIN</a>
                            </li>
                            <li {% if app.request.attributes.get('_route') == 'tournaments_index'%}class="active"{% endif %}>
                                <a class="tournaments" href="{{ path('tournaments_index') }}">Tournaments</a>
                            </li>
                            <li {% if app.request.attributes.get('_route') == 'champion_index'%}class="active"{% endif %}>
                                <a class="champion" href="{{ path('champion_index') }}">Champion</a>
                            </li>
                            <li {% if app.request.attributes.get('_route') == 'matches_index'%}class="active"{% endif %}>
                                <a class="matches" href="{{ path('matches_index') }}">Matches</a>
                            </li>
                            <li {% if app.request.attributes.get('_route') == 'standings_index'%}class="active"{% endif %}>
                                <a class="standings" href="{{ path('standings_index') }}">Standings</a>
                            </li>
                            <li {% if app.request.attributes.get('_route') == 'history_index'%}class="active"{% endif %}>
                                <a class="history" href="{{ path('history_index') }}">History</a>
                            </li>
                            <li {% if app.request.attributes.get('_route') == 'rules_index'%}class="active"{% endif %}>
                                <a class="rules" href="{{ path('rules_index') }}">Rules</a>
                            </li>
                            <li>
                                <a class="logout" href="{{ path('fos_user_security_logout') }}">Logout</a>
                            </li>
                        {% else %}
                            <li {% if app.request.attributes.get('_route') == 'standings_index'%}class="active"{% endif %}>
                                <a class="standings" href="{{ path('standings_index') }}">Standings</a>
                            </li>
                            <li {% if app.request.attributes.get('_route') == 'rules_index'%}class="active"{% endif %}>
                                <a class="rules" href="{{ path('rules_index') }}">Rules</a>
                            </li>
                            <li {% if app.request.attributes.get('_route') == 'fos_user_security_login'%}class="active"{% endif %}>
                                <a class="login" href="{{ path('fos_user_security_login') }}">Log in</a>
                            </li>
                            <li {% if app.request.attributes.get('_route') == 'fos_user_registration_register'%}class="active"{% endif %}>
                                <a class="signup" href="{{ path('fos_user_registration_register') }}">Sign up</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper" class="page-content-wrapper">

                    <nav id="navbar" class="navbar navbar-default navbar-fixed-top">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="pull-left navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-menu" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    {% include 'img/menu.svg' %}
                                </button>
                                <a href="/" class="sportify-logo sportify-logo-mobile">
                                    <img src="{{ asset('img/sportify-logo.png') }}" width="150" height="72">
                                </a>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse mobile-menu" id="mobile-menu">
                                <ul class="nav navbar-nav">
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <li class="my-profile {% if app.request.attributes.get('_route') == 'user_profile'%} active{% endif %}">
                                            <a href="{{ path('user_profile') }}">My Profile</a>
                                        </li>
                                        <li {% if app.request.attributes.get('_route') == 'tournaments_index'%}class="active"{% endif %}>
                                            <a class="tournaments" href="{{ path('tournaments_index') }}">Tournaments</a>
                                        </li>
                                        <li {% if app.request.attributes.get('_route') == 'champion_index'%}class="active"{% endif %}>
                                            <a class="champion" href="{{ path('champion_index') }}">Champion</a>
                                        </li>
                                        <li {% if app.request.attributes.get('_route') == 'matches_index'%}class="active"{% endif %}>
                                            <a class="matches" href="{{ path('matches_index') }}">Matches</a>
                                        </li>
                                        <li {% if app.request.attributes.get('_route') == 'standings_index'%}class="active"{% endif %}>
                                            <a class="standings" href="{{ path('standings_index') }}">Standings</a>
                                        </li>
                                        <li {% if app.request.attributes.get('_route') == 'history_index'%}class="active"{% endif %}>
                                            <a class="history" href="{{ path('history_index') }}">History</a>
                                        </li>
                                        <li {% if app.request.attributes.get('_route') == 'rules_index'%}class="active"{% endif %}>
                                            <a class="rules" href="{{ path('rules_index') }}">Rules</a>
                                        </li>
                                        <li {% if app.request.attributes.get('_route') == 'fos_user_security_logout'%}class="active"{% endif %}>
                                            <a class="logout" href="{{ path('fos_user_security_logout') }}">Logout</a>
                                        </li>
                                    {% else %}
                                        <li {% if app.request.attributes.get('_route') == 'standings_index'%}class="active"{% endif %}>
                                            <a class="standings" href="{{ path('standings_index') }}">Standings</a>
                                        </li>
                                        <li {% if app.request.attributes.get('_route') == 'rules_index'%}class="active"{% endif %}>
                                            <a class="rules" href="{{ path('rules_index') }}">Rules</a>
                                        </li>
                                        <li {% if app.request.attributes.get('_route') == 'fos_user_security_login'%}class="active"{% endif %}>
                                            <a class="login" href="{{ path('fos_user_security_login') }}">Log in</a>
                                        </li>
                                        <li {% if app.request.attributes.get('_route') == 'fos_user_registration_register'%}class="active"{% endif %}>
                                            <a class="signup" href="{{ path('fos_user_registration_register') }}">Sign up</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div><!-- /.navbar-collapse -->
                            {% block nav_top %}{% endblock %}
                        </div><!-- /.container-fluid -->
                    </nav>

                {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        <div class="alert alert-{{ label }}">
                            {{ flash }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% block body %}{% endblock %}

            </div>

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% block footer_user_positions %}
                    <div id="results-slider" class="results-slider">
                        <div class="container-fluid">
                            <div class="current-results-slider owl-carousel">
                                {% for score in user_scores %}

                                    {% if score.posNew == score.posOld %}
                                        {% set pos_change = 'same' %}
                                    {% elseif score.posNew > score.posOld %}
                                        {% if score.posOld == 0 %}
                                            {% set pos_change = 'same' %}
                                        {% else %}
                                            {% set pos_change = 'down' %}
                                        {% endif %}
                                    {% elseif score.posNew < score.posOld %}
                                        {% set pos_change = 'up' %}
                                    {% endif %}

                                    <div class="slider-item-holder">
                                        <div class="slider-item">
                                            <div class="logo">
                                                <a href="{{ path('standings_index', {'tournament_id': score.tournamentId.id}) }}">
                                                    <img src="{{ asset('img/tournament_logos/'~score.tournamentId.nameShort~'.png') }}" alt="{{ score.tournamentId.nameShort }}.png" />
                                                </a>
                                            </div>
                                            <div class="result-info">
                                                <div class="title">{{ score.tournamentId.name }}</div>
                                                <div class="points">Position: {{ score.posNew }}<span class="position-{{ pos_change }}"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {%  endblock %}
            {% endif %}

        </div>
        <!-- /#page-content-wrapper -->

        {% block javascripts %}
            <script src="{{ asset('js/all-scripts.js') }}"></script>
        {% endblock %}
    </body>
</html>
